<polymer-element name="ceci-tts" attributes="text fontsize textalign language textcolor backgroundcolor loop speed value buttoncolor volume"
  extends="ceci-element"
  fontsize="16"
  textalign="left"
  language="en-US"
  textcolor="#666666"
  backgroundcolor="#FFFFFF"
  loop="false"
  speed="1.0"
  buttoncolor="#2181cb"
  volume="0.5">
  <ceci-definition>
    {
      "tags": ["sound", "audio", "text", "input"],
      "thumbnail": "./thumbnail.png",
      "description": "Converts text to speech",
      "name": "Text To Speech",
      "broadcasts": {},
      "listeners": {
        "setValue": {
          "description": "Set value text box",
          "label": "Set Text"
        },
        "speak": {
          "description": "Speak utterance.",
          "label": "Speak"
        },
        "pause": {
          "description": "Pause utterance.",
          "label": "Pause"
        },
        "stop": {
          "description": "Stop utterance.",
          "label": "Stop"
        }
      },
      "attributes": {
        "text": {
          "label": "Text",
          "description": "The text that shows up in the box.",
          "editable": "textarea"
        },
        "language": {
          "label": "Language",
          "description": "Select Language",
          "editable": "select",
          "options": {"English (United States)":"en-US", "English (Britain)": "en-GB", "Spanish":"es-ES",
                            "French (Canada)":"fr-CA", "French (France)":"fr-FR", "German":"de-DE",
                            "Hebrew":"he-IL", "Italian":"it-IT", "Japanese":"ja-JP", "Korean":"ko-KR",
                            "Chinese (Mandarin)":"zh-CN", "Chinese (Cantonese)":"zh-HK", "Arabic":"ar-SA",
                            "Czech":"cs-CZ", "Danish":"da-DK", "Dutch (Belgium)":"nl-BE", "Dutch (Netherlands)":"nl-NL",
                            "Finnish":"fi-FI", "Greek":"el-GR", "Hindi":"hi-IN", "Hungarian":"hu-HU", "Indonesian":"id-ID",
                            "Norwegian":"nb-NO", "Polish":"pl-PL", "Portuguese (Brazil)":"pt-BR", "Portuguese (Portugal)":"pt-PT",
                            "Romanian":"ro-RO", "Russian":"ru-RU", "Slovak":"sk-SK", "Swedish (Finland)":"sv-FI",
                            "Swedish (Sweden)":"sv-SE", "Thai":"th-TH", "Turkish":"tr-TR"}
        },
        "textalign": {
          "label": "Text Alignment",
          "description": "Text Alignment",
          "editable": "select",
          "options": {"Left":"Left","Center":"Center","Right": "Right"}
        },
        "fontsize": {
          "label": "Font Size",
          "description": "Font Size",
          "editable": "range",
          "min" : "4",
          "max" : "50"
        },
        "volume": {
          "label": "Volume",
          "description": "How loud do you want it to be?",
          "editable": "range",
          "step" : ".01",
          "min" : 0.1,
          "max" : 1,
          "listener" : true
        },
        "loop": {
          "label": "Loop",
          "description": "Loop the audio clip when it finishes.",
          "editable": "boolean"
        },
        "speed": {
          "label": "Playback speed",
          "description": "1 for normal speed, 2 for double speed.",
          "editable": "range",
          "step" : ".01",
          "min" : ".5",
          "max" : "3",
          "listener" : true
        },
        "buttoncolor": {
          "label": "Button Color",
          "description": "What's your favorite?",
          "editable": "color"
        }
      }
    }
  </ceci-definition>
  <template>
    <link rel="stylesheet" href="component.css"></link>
    <p style="text-align: {{textalign}}; font-size: {{fontsize}}px; background: {{backgroundcolor}}; color: {{textcolor}}" id="textBox">{{text}}</p>
    <div id="wrapper" on-ceci-pressdown="{{speak}}" class="wrapper">
      <div class="label">
        <div class="text">Press to hear</div>
      </div>
    </div>
    <shadow></shadow>
  </template>
  <script>
    Polymer('ceci-tts', {
      ready: function () {
        this.super();
        this.$.utterance = new SpeechSynthesisUtterance();
        this.$.prevIndex = "";
        this.$.curIndex = "";
        this.$.container = this.shadowRoot.querySelector("#textBox");
        var that = this;
        this.$.utterance.addEventListener("end",function(e) {
          that.highlightWord(e);
          that.stop();
          that.$.prevIndex = '';
          that.$.curIndex = '';
          if(that.loop === "true") {
            that.speak();
          }
        });
        this.$.utterance.addEventListener("boundary",function(e) {
          if(e.charIndex > 0 ) {
            that.highlightWord(e);
          }
        });
      },
      highlightWord: function(e) {
        innerHTML = this.$.container.innerHTML =  this.text;
        if(this.state !== "stopped"){
          this.$.prevIndex = this.$.curIndex;
          if( (e.charIndex === 0) ) {
            this.$.curIndex = this.text.length;
          }else{
            this.$.curIndex = e.charIndex;
          }
          var highlightWordLength =  (this.$.curIndex - this.$.prevIndex);
          this.$.container.innerHTML = innerHTML.substring(0, this.$.prevIndex )
                                             + "<span class='highlight'>"
                                             + innerHTML.substring(this.$.prevIndex,this.$.prevIndex+highlightWordLength)
                                             + "</span>"
                                             + innerHTML.substring(this.$.prevIndex + highlightWordLength);
        }
      },
      setValue: function(e) {
        this.text = e;
        this.$.container.innerHTML =  this.text;
      },
      state : "stopped",
      stop : function() {
        speechSynthesis.cancel();
        this.state = "stopped";
      },
      speak: function(){
        if ( ('speechSynthesis' in window) ) {
          if(this.state === "paused") {
            speechSynthesis.resume();
            this.state = "speaking";
          } else if(this.state === "stopped") {
            this.$.utterance.text = this.text;
            this.$.utterance.lang = this.$.language;
            speechSynthesis.speak(this.$.utterance);
            this.state = "speaking";
          }
        }
      },
      pause : function(){
        if(this.state === "speaking") {
          speechSynthesis.pause();
          this.state = "paused";
        }
      },
      languageChanged: function(oldValue, newValue) {
         this.$.language = newValue;
      },
      textChanged: function(e) {
        this.$.container.innerHTML =  this.text;
      },
      setSpeed: function(channel, value) {
        this.speedChanged(this.$.utterance.rate || 1, value);
      },
      volumeChanged : function(oldValue, newValue) {
         this.volumeChanged(this.$.utterance.volume || 1, value);
      },
      buttoncolorChanged: function (oldValue, newValue) {
        this.$.wrapper.style.background = newValue;
      },
      volumeChanged: function(oldValue, newValue) {
        try  {
          var f = parseFloat(newValue);
          if (f) {
            this.$.utterance.volume = parseFloat(newValue);
          }
        } catch (e) {}
      },
      speedChanged: function(oldValue, newValue) {
        try  {
          var f = parseFloat(newValue);
          if (f) {
            this.$.utterance.rate = parseFloat(newValue);
          }
        } catch (e) {}
      }
    });
  </script>
</polymer-element>
