:host {
  display: block;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:host p {
  padding: 10px;
  white-space: pre-wrap;
  overflow: hidden;
  margin: 0;
  line-height: auto;
}

:host .text {
  z-index: 2;
  padding: 12px;
  font-size: 18px;
  font-weight: 100;
  text-overflow: ellipsis;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

:host .highlight {
  background-color:yellow;
}